@model List<Practica.MVC.MVC.Models.EmployeesView>
@{
    ViewBag.Title = "Employees";
}
<div class="row p-0 mt-3">
    <div class="col-md-10">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-2 clearfix">
        @Html.ActionLink("Add Employee", "InsertOrEdit", new { id = 0 }, new { @class = "btn btn-warning float-right" })
    </div>
    <div class="col-md-12 mt-3">
        @*TODO : arreglar el padding de td!*@
        <table class="table table-hover small table-employees">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FullName</th>
                    <th scope="col">Title</th>
                    <th scope="col">Birthdate</th>
                    <th scope="col">HireDate</th>
                    <th scope="col">Adress</th>
                    <th scope="col">PostalCode</th>
                    <th scope="col">HomePhone</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <th scope="row">@emp.EmployeeID</th>
                        <td>@emp.LastName @emp.FirstName</td>
                        <td>@emp.Title</td>
                        <td>@emp.BirthDate.Value.ToString("MM/dd/yy")</td>
                        <td>@emp.HireDate.Value.ToString("MM/yy")</td>
                        <td>@emp.Address, @emp.City - @emp.Country</td>
                        <td>@emp.PostalCode</td>
                        <td>@emp.HomePhone</td>
                        <td class="clearfix">
                            <a class="btn btn-danger p-1 float-right ml-3" onclick="deleteById(@emp.EmployeeID)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </a>
                            <a href="@Url.Action("InsertOrEdit", new {  id = emp.EmployeeID})" class="btn btn-primary p-1 float-right ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function deleteById(idToDelete) {

        Swal.fire({
            title: "Are you sure?",
            text: "You can't undo this action",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete!",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/Employees/Delete/' + idToDelete,
                    data: idToDelete,
                    contentType: 'application/json',
                    type: 'POST',
                    success: function (data) {
                        Swal.fire({
                            title: "Employee deleted!",
                            icon: "success",
                            timer: 1500,
                            showCloseButton: true,
                        }).then(() => window.location.href = "/Employees");

                    }
                });
            }
        })
    }
</script>